
# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

#所有日志文件
*.logs
*.log
logs/*

#webstorm默认项目文件
.idea

#sbulime-text默认的项目文件

*.sublime-project
*.sublime-workspace
*.swp

#nodejs模块,测试网,线上环境需要执行npm install命令安装
node_modules

#gulp编译后文件夹,测试网,线上环境需要执行gulp命令生成

#gulp生成静态文件资源
public/temporary
public/dist
#gulp生成动态模板资源
views/dist
views/temporary


#样式文件gulp编译生成,无需提交

public/build/m/css

public/build/i/css

public/build/hr/css

public/build/www/css

public/build/account/css

#字体文件编译文件

public/build/www/less/fonts.less

public/build/account/less/fonts.less

public/build/hr/less/fonts.less

#配置文件初始入口,测试网,线上环境需手动加入此文件,不然会报错
#config_default.js

#包括数据库,加密设置等机密配置信息,测试网,线上环境需要手动加入此文件,不然会报错
config
#config/secret.js

#编译less文件需要的存储路径变量的文件,测试网,线上环境需手动加入此文件,不然gulp编译报错
var.less

#用户加载solr初始数据的文件
solr_loading.js


